<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="open3mod.GraphicsSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="CoreSettings.CoreSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <open3mod.GraphicsSettings>
            <setting name="TexQualityBias" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TextureFilter" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="UseMips" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MultiSampling" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="RenderingBackend" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="LightingQuality" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="BackFaceCulling" serializeAs="String">
                <value>False</value>
            </setting>
        </open3mod.GraphicsSettings>
        <CoreSettings.CoreSettings>
            <setting name="Location" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="Size" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="Maximized" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RenderWireframe" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RenderTextured" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="RenderLit" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowFps" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowBBs" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowNormals" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowSkeleton" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DefaultRotationMode" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="NodeInfoShowAnimatedTrafo" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowGlobalTrafo" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DefaultViewMode" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="InspectorSplitterPos" serializeAs="String">
                <value>742</value>
            </setting>
            <setting name="ShowTipsOnStartup" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="NextTip" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DonationUseCountDown" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ImportGenNormals" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ImportGenTangents" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ImportOptimize" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ImportSortByPType" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ImportRemoveDegenerates" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ImportFixInfacing" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ImportMergeDuplicates" serializeAs="String">
                <value>True</value>
            </setting>
        </CoreSettings.CoreSettings>
    </userSettings>
</configuration>